.navigation {
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: all .3s;
}

.navigation__icon {
    margin-left: 10rem;
    height: 5.5rem;
    opacity: 0;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35rem;
    margin-right: 10rem;
}

.navigation__listItem {}

.navigation__listItem a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #c7c7c7;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    letter-spacing: .1rem;
}

.navigation__listItem:last-child a {
    color: #E7C50B;
}

.navigation__listItem a:hover {
    color: #E7C50B;
}

.mobileNav {
    width: 2rem;
    display: none;
    position: absolute;
    top: 3.3rem;
    right: 3rem;
    z-index: 101;
}

.mobileNav:hover {
    cursor: pointer;
}

/*-- media queries --*/
@media(max-width: 925px) {
    .navigation__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,.85);
        margin: 0;
        padding-top: 11rem;
        justify-content: flex-start;
    }

    .navigation__listItem {
        margin-bottom: 3.3rem;
        margin-left: 5rem;
    }

    .navigation__listItem a {
        font-size: 2rem;
    }

    .mobileNav {
        display: inline-block;
    }
}